# App
PUBLIC_APP_NAME=ProjectBook

# Future API
API_URL=http://localhost:3000
PROJECTBOOK_API_BASE_URL=http://localhost:8080/api/v1

# Auth
AUTH_SECRET=your-secret
PROJECTBOOK_PERMISSION_CONTEXT_SECRET=VGZC4C7SIq4pgwIQeOOeK6JeJbIelxwjQ5uAjpK6J2EiDojYv2H3VJ6LXwDd3JHs
